.previews {
    position: relative;
    margin: 4.5em 0;
}

.previews > li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
}

.previews > li.selected {
    position: relative;
    opacity: 1;
}

.previews > li img {
    display: block;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

.product-color {
    text-align: center;
}

.product-color li {
    position: relative;
    display: inline-block;
    margin-right: .5em;
}

.product-color li:last-of-type {
    margin-right:0
}

.product-color li::before,
.product-color li::after {
    position:absolute;
    left:50%;
    -webkit-transform:translateX(-50%) translateY(-5px);
    -ms-transform:translateX(-50%) translateY(-5px);
    transform:translateX(-50%) translateY(-5px);
    opacity:0;
    visibility:hidden;
    font-size: 1rem;
    -webkit-transition:opacity .2s,visibility .2s,-webkit-transform .2s;
    transition:opacity .2s,visibility .2s,-webkit-transform .2s;
    transition:opacity .2s,visibility .2s,transform .2s;
    transition:opacity .2s,visibility .2s,transform .2s,-webkit-transform .2s
}

.product-color li::before {
    content:'';
    bottom:100%;
    height:0;
    border:8px solid transparent;
    border-top-color:rgba(237,237,237,.8);
    border-top-width:10px;
    border-top-width:10px
}

.product-color li::after {
    content:attr(data-content);
    background-color:rgba(237,237,237,.8);
    white-space:nowrap;
    padding:.7em 1.1em;
    border-radius:2em;
    bottom:calc( 100% + 18px)
}

.product-color li:hover::before,
.product-color li:hover::after {
    opacity:1;
    visibility:visible;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%)
}

.product-color a {
    display:inline-block;
    overflow:hidden;
    text-indent:100%;
    color:transparent;
    white-space:nowrap;
    height:30px;
    width:30px;
    border-radius:50%;
    border:2px solid #fff;
    box-shadow:0 0 0 2px #ededed;
    -webkit-transition:box-shadow .3s;
    transition:box-shadow .3s
}

.product-color .selected a {
    box-shadow:0 0 0 2px #ffb500
}

[data-color="white"] {
    background-color: #fff;
}

[data-color="grey"] {
    background-color: #303539;
}

[data-color="orange"] {
    background-color: #cf5a16;
}

[data-color="perl"] {
    background-color: #d1d1d1;
}

.accessories > li {
    border: 2px solid #ededed;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
    text-align: center;
    padding: 2em 1.5em;
    font-weight: 700;
    -webkit-transition: border-color .3s;
    transition: border-color .3s;
}

.accessories li p {
    font-size: 1.8rem;
    line-height: 1.4;
}

.accessories li .price {
    display: block;
    margin: 1.2em auto;
    color: #5d7c89;
}

.check {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
  }

@media only screen and (min-width: 768px){
    .product-color li {
    margin-right: 1em;
    }

    .product-color a {
        height: 50px;
        width: 50px;
    }

    .accessories > li {
        margin-bottom: 2%;
        position: relative;
        text-align: left;
        padding: 35px 250px 35px 32px;
    }

    .accessories li p {
        font-size: 2.2rem;
    }

    .accessories .check, 
    .accessories .price {
        position: absolute;
        top: 50%;
        bottom: auto;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .accessories .price {
        right: 102px;
        margin: 0;
        font-size: 2.2rem;
        color: #24221f;
    }
}

@media only screen and (min-width: 1024px){
    .previews {
    margin: 0 0 2em;
    }

    .accessories > li {
        padding-right: 300px;
    }

    .accessories li p, 
    .accessories li .price {
        font-size: 2.6rem;
      }
}

@media only screen and (min-width: 1480px) and (min-height: 850px){
    .previews {
    margin-bottom: 3em;
    }
}