@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  color: #24221f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Lato", sans-serif;
}

.btn-back {
  position: relative;
  display: block;
  margin-bottom: 1em;
  padding: 0.8em;
  background: #5d7c89;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
}

.btn-back::before,
.btn-back::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  background: currentColor;
  left: 16px;
  top: calc(50% - 1px);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
  font-size: 1rem;
}

.btn-back::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /*! transform:rotate(45deg) */
}

.btn-back::after {
  -webkit-transform: translateY(1px) rotate(-45deg);
  -ms-transform: translateY(1px) rotate(-45deg);
  transform: translateY(1px) rotate(-45deg);
}

.btn-back:hover {
  background: #678a98;
}

.btn-back.hide-on-mobile {
  display: none;
}

.product-step {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  visibility: hidden;
  -webkit-transition: visibility 0.5s;
  transition: visibility 0.5s;
  padding: 0 5%;
  -webkit-animation: cd-center-to-left 0.5s 0s backwards;
  animation: cd-center-to-left 0.5s 0s backwards;
}

.product-step.active {
  position: relative;
  z-index: 2;
  visibility: visible;
  -webkit-transition: visibility 0.7s;
  transition: visibility 0.7s;
}

.move-left section {
  -webkit-animation: cd-center-to-left 0.5s 0s backwards;
  animation: cd-center-to-left 0.5s 0s backwards;
}

.active.back section {
  -webkit-animation: cd-left-to-center 0.5s 0.2s backwards;
  animation: cd-left-to-center 0.5s 0.2s backwards;
}

.product-step img {
  display: block;
  max-width: 80%;
  margin: 1.8em auto 2.2em;
}

.product-step section ul.options li .single-name {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.2em;
}

.product-step section ul.options li .single-img {
  display: block;
  max-width: 80%;
  margin: 0.9em auto;
}

.product-step section ul.options li .single-price {
  display: block;
  color: #5d7c89;
  margin-bottom: 1em;
  font-size: 1rem;
}

.product-step section ul.options > li {
  padding: 1.5em 0;
  border: 2px solid #ededed;
  border-radius: 4px;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}

footer {
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54px;
  background: #fff;
  box-shadow: 0 -2px 24px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

footer .selected-product {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 2em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

footer .selected-product img {
  width: 197px;
  padding-right: 27px;
  margin-right: 27px;
  border-right: 1px solid #e1e1e1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  float: left;
}

footer .selected-product .tot-price {
  margin-top: 12px;
  float: left;
}

footer .selected-product .tot-price span {
  display: block;
  color: #5d7c89;
  font-size: 1rem;
  line-height: 1rem;
}

footer .selected-product .tot-price span.total {
  color: #24221f;
  font-size: 2.2rem;
  margin-top: 4px;
  line-height: 2.2rem;
}

footer.disabled .selected-product {
  -webkit-transform: translateX(-224px) translateY(-50%);
  -ms-transform: translateX(-224px) translateY(-50%);
  transform: translateX(-224px) translateY(-50%);
}

footer.disabled .selected-product img {
  opacity: 0;
}

footer .footer-nav {
  box-shadow: none;
  float: right;
  width: 265px;
}

.footer-nav .nav-item {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transition: width 0.2s, opacity 0.2s;
  transition: width 0.2s, opacity 0.2s;
  overflow: hidden;
}

.footer-nav .prev {
  left: 0;
  color: #5d7c89;
}

.footer-nav .next {
  z-index: 1;
  right: 0;
  background: #ffb500;
}

footer .footer-nav .nav-item ul {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer-nav .next:hover {
  background: #ffbc1a;
}

.disabled .footer-nav .next {
  background: rgba(93, 124, 137, 0.5);
}

footer .footer-nav .nav-item ul::after {
  content: "";
  position: absolute;
  height: 16px;
  width: 16px;
  background: url("https://codyhouse.co/demo/product-builder/img/cd-icon-arrow.svg")
    no-repeat 0 0;
  pointer-events: none;
}

footer .footer-nav .nav-item ul li {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 54px;
  text-align: center;
  -webkit-transform: translateY(100%);
  -ms-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

footer .footer-nav .nav-item ul li.visible {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

footer .footer-nav .nav-item ul li.visited {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

footer .footer-nav a {
  display: block;
}

footer .footer-nav .next a {
  color: #fff;
}

footer .footer-nav .nav-item.next ul::after {
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media only screen and (min-width: 768px) {
  .product-step section ul.options > li {
    margin-bottom: 2%;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    display: block;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5%;
    text-align: center;
    background: #fff;
  }

  header::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 70px;
    background-image: -webkit-linear-gradient(
      top,
      white,
      rgba(255, 255, 255, 0)
    );
    background-image: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
  }

  .product-builder header h1 {
    font-size: 3rem;
    margin: 0.8em auto 0.5em;
    font-weight: 700;
  }

  header nav a {
    display: block;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #5d7c89;
    padding: 0.7em 0.8em;
    border-bottom: 2px solid transparent;
    -webkit-transition: color 0.2s, border-color 0.2s;
    transition: color 0.2s, border-color 0.2s;
  }

  header nav a:hover {
    color: #ffb500;
  }

  header nav .active a {
    border-color: #ffb500;
    color: #ffb500;
  }

  header nav .active a:hover {
    color: #ffb500;
  }

  header nav.disabled li:not(.active) a {
    color: rgba(93, 124, 137, 0.5);
  }

  .btn-back {
    background: 0 0;
    color: #5d7c89;
    border: 2px solid #5d7c89;
  }

  .btn-back:hover {
    background: #5d7c89;
    color: #fff;
  }

  .btn-back {
    display: inline-block;
    position: absolute;
    top: 40px;
    left: 2em;
    padding: 0.6em 0.8em 0.6em 2em;
  }

  .product-step section {
    padding: 220px 0 140px;
    max-width: 1000px;
    margin: 0 auto;
  }

  .product-step section ul.options > li {
    cursor: pointer;
  }

  .product-step section ul.options > li.selected {
    border-color: #ffb500;
  }

  .product-step section ul.options li .radio {
    position: relative;
    display: inline-block;
    height: 30px;
    width: 30px;
  }

  .product-step section ul.options li .radio::after,
  .product-step section ul.options li .radio::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 16px !important;
  }

  .product-step section ul.options li .radio::before {
    border: 2px solid #ededed;
    background: #fff;
    -webkit-transition: background-color 0.3s, border-color 0.3s,
      -webkit-transform 0.3s;
    transition: background-color 0.3s, border-color 0.3s, -webkit-transform 0.3s;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s;
    transition: background-color 0.3s, transform 0.3s, border-color 0.3s,
      -webkit-transform 0.3s;
  }

  .product-step section ul.options li .radio::after {
    background: url("https://codyhouse.co/demo/product-builder/img/cd-icon-check.svg")
      no-repeat center center;
  }

  .product-step section ul.options li .radio::before {
    border-radius: 50%;
  }

  .product-step section ul.options li.selected .radio::before {
    background: #ffb500;
    border-color: #ffb500;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation: cd-bounce 0.5s;
    animation: cd-bounce 0.5s;
  }

  .product-step section ul.options li.selected .radio::before {
    background: 0 0;
    border-color: #ededed;
    border-right-color: #ffb500;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-animation: cd-load 0.6s infinite;
    animation: cd-load 0.6s infinite;
  }

  .product-step section ul.options li.selected.loaded .radio::before {
    background: #ffb500;
    border-color: #ffb500;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-animation: cd-bounce 0.5s;
    animation: cd-bounce 0.5s;
  }

  footer {
    height: 100px;
    padding: 0 2em;
    box-shadow: 0 0 39px rgba(0, 0, 0, 0.1);
  }

  footer .footer-nav > ul {
    margin-top: 22px;
  }

  footer .footer-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }

  footer .footer-nav .nav-item {
    position: relative;
    height: 56px;
  }

  footer .footer-nav .nav-item.next {
    width: 194px;
    border-radius: 2em;
    float: right;
    margin-left: 11px;
  }

  footer .footer-nav .nav-item.prev {
    width: 56px;
    border-radius: 50%;
    background: #ededed;
    color: transparent;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
  }

  footer .footer-nav .nav-item ul li {
    text-align: left;
    font-size: 1.4rem;
  }

  footer .footer-nav a {
    padding-left: 1.5em;
    font-size: 1rem;
  }

  footer .alert {
    display: block;
    position: absolute;
    top: 120%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-40%);
    -ms-transform: translateX(-50%) translateY(-40%);
    transform: translateX(-50%) translateY(-40%);
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
    background: #24221f;
    color: #fff;
    padding: 0.8em 1em;
    border-radius: 4px;
    font-size: 1rem;
  }

  footer.disabled.show-alert .alert {
    top: 50%;
  }
}

@media only screen and (min-width: 1024px) and (min-height: 850px) {
  .product-step section {
    max-width: 1200px;
  }

  footer {
    height: 120px;
  }

  footer .footer-nav > ul {
    margin-top: 32px;
  }
}

@media only screen and (min-width: 1480px) and (min-height: 850px) {
  .product-step section {
    padding: 250px 0 140px;
  }
}
